<h1 class="text-4xl text-white text-center">
  Welcome, <%= initial.username %>!
</h1>

<div class="flex flex-col mt-8 gap-6">
  <a href="/game/pve"        class="buttons"><button>PVE</button></a>
  <a href="/matchmaking"     class="buttons"><button>1 v 1</button></a>
  <a href="/tournament"      class="buttons"><button>Tournament</button></a>
  <a href="/settings"        class="buttons"><button>Settings</button></a>
  <a href="/profile"         class="buttons"><button>Profile</button></a>
</div>
