<div id="change_avatar_div" class="hidden">
    <div class="min-h-screen flex items-center justify-center px-4 py-10">
        <div id="login-container" class="field">
            <main id="change_avatar_field" class="w-full">
                <div class="to-[#d16e1d] from-[#e0d35f] bg-gradient-to-br rounded-lg">
                    <label class="pl-2 block mb-2 font-medium text-gray-900 text-2xl" for="file_input">Upload file</label>
                    <input class="block w-full text-sm text-gray-900 border border-[#e0d35f] to-[#d16e1d] from-[#e0d35f] bg-gradient-to-br  rounded-lg cursor-pointer" id="file_input" type="file">
                </div>
                <div class="flex mt-12 gap-4 w-full">
                    <a class="flex-1">
                        <button onclick="submit()" class="flex items-center gap-4 bg-gradient-to-br to-[#d16e1d] from-[#e0d35f] from-5% border-black border border-spacing-5 rounded-xl px-6 py-4 w-full">
                            <span class="font-bold text-lg">Submit</span>
                        </button>
                    </a>
                    <a href="/templates/user_settings.html" class="flex-1" data-link>
                        <button class="flex items-center gap-4 bg-gradient-to-br to-[#d1651d] to-85% from-[#d1891d] border-black border border-spacing-5 rounded-xl px-6 py-4 w-full">
                            <span class="font-bold text-lg">Back</span>
                        </button>
                    </a>
                </div>
            </main>
        </div>
    </div>
</div>