<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/redirect.js"></script>
    <script defer src="/js/animate.js"></script>
    <script type="module" src="/js/buttons.js"></script>
    <script defer src="/js/friends.js"></script>
    <script type="module" src="/js/game.js"></script>
    <script type="module" src="/js/helpers.js"></script>
    <script defer src="/js/home.js"></script>
    <script defer src="/js/input.js"></script>
    <script defer src="/js/login.js"></script>
    <script type="module" src="/js/main.js"></script>
    <script type="module" src="/js/matchmaking.js"></script>
    <script defer src="/js/register.js"></script>
    <script defer src="/js/settings.js"></script>
    <script type="module" src="/js/socket.js"></script>
    <script type="module" src="/js/state.js"></script>
    <script type="module" src="/js/tournament.js"></script>
    <script type="module" src="/js/types.js"></script>
    <script defer src="/js/user_settings.js"></script>               
    <link rel="stylesheet" href="/css/output.css">
    <title>Transcendence</title>
</head>
<body class="background" id="main_body">
    {{replace}}
</body>
</html>