<div id="profile_div" class="hidden">
    <div class="min-h-screen flex items-center justify-center px-4 py-10">
        <div id="login-container" class="user_field">
            <main id="profile_field" class="w-full">
                <div class="w-full flex bg-gray-400 py-4 relative">
                    <div>
                        <a href="/" data-link>
                            <button class="absolute top-10 right-10 border-black bg-yellow-600 p-1 rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </a>
                    </div>
                    <img src="{{picture}}" class="w-28 h-28 ml-10 my-auto" alt="Profile picture">
                    <div class="pl-12 flex flex-col">
                        <label for="username_prof" class="label_profile">Username</label>
                        <span id="username_prof">{{username}}</span>
                        <label for="email" class="label_profile">email</label>
                        <span id="email">{{email}}</span>
                        <label for="win_loss" class="label_profile">win/loss</label>
                        <span id="win_loss">{{winns}}/{{losses}}</span>
                    </div>
                </div>
                <div class="w-full flex bg-gray-400 mt-2 pb-8 py-4 pl-4 gap-2 overflow-x-auto">
                    {{Friends}}
                </div>
                <div class="w-full max-h-60 overflow-y-auto flex h-full flex-col bg-gray-500 mt-2 py-4 pl-4">
                    <h1 class="font-bold">Match History</h1>
                        <table class="table-auto text-left">
                            {{table_informations}}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>