<div id="friends_div" class="hidden">
    <div class="min-h-screen flex items-center justify-center px-4 py-10">
        <div id="login-container" class="field">
            <main id="login-signup-field" class="w-full">
                <form class="w-full flex justify-center relative">
                    <label for="accept_friends" class="sr-only"></label>
                    <input id="accept_friends" type="text" placeholder="Search for Friend" class="placeholder-gray-500 placeholder:font-bold w-full rounded-md p-2.5 pr-14">
                    <div class="absolute right-3 top-1/2 -translate-y-1/2 flex space-x-2 text-gray-600">
                        <button type="button" onclick="add_friend()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" class="size-6 cursor-pointer text-green-700 font-bold">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                            </svg>
                        </button>
                    </div>
                </form>
                <div class="mt-1 bg-white rounded-md px-2 py-2 space-y-2 max-h-96 min-h-10 overflow-y-auto">
                    {{FRIEND_REQUESTS}}
                </div>
                <div class="flex flex-col mt-8 gap-6">
                    <a href="/" class="buttons">
                        <button class="block w-full mb-4 mt-6">
                            <span class="button_text">Back</span>
                        </button>
                    </a>
                </div>
            </main>
        </div>
    </div>
</div>