<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transcendence</title>
</head>
<body>
    <div>
        <div>
            <input type="text" placeholder="Email">
            <br>
            <input type="text" placeholder="Password">
            <br>
            <button>
                <h3>Register</h3>
            </button>
        </div>
        <br>
        <div>
            <a href="{{ google_login }}">
                <button>
                    <h3>Sign up with Google</h3>
                </button>
            </a>
        </div>
        <button>Register</button>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="switch_mode" value="login">Already have an account? Sign in</button>
        </form>
    </div>
</body>
</html>