<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transcendence</title>
    <script defer src="/register/main.js"></script>
</head>
<body>
    <div>
        <div>
            <input type="text" id="email" placeholder="Email"><br>
            <input type="text" id="username" placeholder="Username"><br>
            <input type="text" id="password" placeholder="Password"><br>
            <input type="text" id="repeat" placeholder="Repeat password"><br>
            <button onclick="create_account()">
                <h3>Register</h3>
            </button>
        </div>
        <br>
        <div>
            <a href="{{google_login}}">
                <button>
                    <h3>Sign up with Google</h3>
                </button>
            </a>
            <a href="{{github_login}}">
                <button>
                    <h3>Sign up with Github</h3>
                </button>
            </a>
        </div>
        <a href="/login">
            <button type="submit" name="switch_mode" value="register">Already have an account? Log in</button>
        </a>
    </div>
</body>
</html>