<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transcendence</title>
    <link rel="stylesheet" href="../css/output.css">
    <script defer src="../user_settings.js"></script>
</head>
<body class="background">
    <div class="min-h-screen flex items-center justify-center px-4 py-10">
        <div id="login-container" class="field">
            <main id="user_field" class="w-full">
            </main>
        </div>
    </div>
</body>
</html>
