<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/client/js/settings.js"></script>
    <link rel="stylesheet" href="../css/output.css">
    <title>Settings</title>
</head>
<body class="background">
    <div class="min-h-screen flex items-center justify-center px-4 py-10">
        <div class="field">
            <div id="mfa"></div>
            <div id="mfa-button">
                {{mfa-button}}
            </div>
        </div>
    </div>
</body>
</html>